@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(231, 193, 231);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 450px;
}

h1{
    text-transform: uppercase;
    color: rgba(91, 85, 85, 0.702);
    margin-bottom: 0.3em;
    margin-left: 24px;
    font-size: 24px;
    font-family: 'Abril Fatface', cursive;
}

.container .box {
    width: 100%;
    display: flex;
}

.box div {
    width: 100%;
}

.leftbox {
    width: 100px;
    height: 100px;
    background:#a27bb4;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    align-items: center;
    color:rgba(255, 255, 255, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightbox {
    width: 100px;
    height: 100px;
    background:#a27bb4;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color:rgba(255, 255, 255, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 97%;
    height: 40px;
    background: #a27bb4;
    color:white;
    border-radius:10px;
    border:none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
    transition: 1s;
    
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.convert {
    font-size: 20px;
    text-align: center;
    color:#a27bb4;
    opacity: 0.5;
    transition: 1s;
}

.convert:hover {
    opacity: 1;
}